.App {
	font-family: 'Yusei Magic', sans-serif;
	font-size: 3rem;
	font-weight: 400;
	font-style: normal;
	padding: 2rem;

	color: var(--colorMain);

	// override styles
	& > h1 {
		// color: blue;
	}
}
