.centerGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min-content, 12rem));
	grid-template-rows: minmax(5rem, 12rem) repeat(3, minmax(200px, 1fr));
	grid-auto-rows: 200px;
	grid-gap: 1rem;
	justify-content: center;
	align-content: start;

	& > div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& > div:nth-child(1n) {
		background: cornsilk;
	}
	& > div:nth-child(2n) {
		background: indianred;
	}
}

.title {
	font-size: 4rem;
	text-align: center;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	align-self: center;
}
